<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>

<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
</style>

<body>
<div class="layout">
    <table>
        <thead>
        <tr>
            <th>글번호</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        <!--
           list에 담겨있는 board가 하나씩 넘어온다.
           each: 반복문 → ${list}에서 board가 없어질 때까지 반복한다.
        -->
        <tr th:each="board : ${list}">
            <td th:text="${board.id}">1</td>
            <td>
                <!--localhost:8090/board/view?id=불러오는 게시글마다 id를 받아와서 넘겨진다.-->
                <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- th:block은 굳이 태그로 감쌀 필요가 없는 부분을 타임리프 문법 써야할 때 씀 -->
    <!-- startPage에서 시작해서, endPage까지 반복할 것이다. -->
    <th:block th:each="page:${#numbers.sequence(startPage, endPage)}">
        <!-- 만약 page가 nowPage와 다르다면 list로 보낼 때 page-1해서 보냄-->
        <a th:if="${page != nowPage}" th:href="@{/board/list(page=${page - 1}, searchKeyword=${param.searchKeyword})}" th:text="${page}"></a>
        <!-- 만약 page가 nowPage와 같다면 눌렀을 때 이동하지 않도록 a태그 아니게 강조 처리-->
        <strong th:if="${page == nowPage}" th:text="${page}" style="color:red"></strong>
    </th:block>
    <form th:action="@{/board/list}" method="get">
        <input type="text" name="searchKeyword">
        <button type="submit">검색</button>
    </form>
</div>
</body>
</html>